.googleButton {
	position: relative;
	width: 100%;
	height: 40px;
	padding: 0 12px;
	overflow: hidden;
	appearance: none;
	user-select: none;
	background-color: $white;
	background-image: none;
	border: 1px solid #747775;
	border-radius: 20px;
	box-sizing: border-box;
	color: #1f1f1f;
	cursor: pointer;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 0.25px;
	outline: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
}

.googleButtonContent {
	position: relative;
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.googleButtonIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	min-width: 20px;
	height: 20px;
	margin-right: 10px;
}

	.googleButtonIcon svg {
		display: block;
		width: 20px;
		height: 20px;
	}

.googleButtonText {
	flex-grow: 0;
	overflow: hidden;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 500;
	text-overflow: ellipsis;
}

.googleButtonState {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: opacity 0.218s;
}

.googleButton:disabled {
	background-color: rgba(255, 255, 255, 0.38);
	border-color: rgba(31, 31, 31, 0.12);
	cursor: default;
}

	.googleButton:disabled .googleButtonText,
	.googleButton:disabled .googleButtonIcon {
		opacity: 0.38;
	}

.googleButton:not(:disabled):hover {
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

	.googleButton:not(:disabled):hover .googleButtonState {
		background-color: #303030;
		opacity: 0.08;
	}

.googleButton:not(:disabled):active .googleButtonState,
.googleButton:not(:disabled):focus .googleButtonState {
	background-color: #303030;
	opacity: 0.12;
}
